.Capsule-adderBody {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50vw;
    padding: 15px;
    margin: 5px;
    border: 2px solid var(--color);
    border-radius: 10% 100%;
    box-sizing: border-box;
    justify-content: space-around;
}

.Capsule-input {
    /* height: 25px; */
    padding: 5px 10px;
    margin: 3px;
    font-size: 15px;
    background-color: var(--input);
    color: var(--text-white);
    border: none;
    border-radius: 20px;
    outline: none;
}
.Capsule-input::placeholder{
    color: var(--text-alter);
}

#Capsule-description {
    padding: 10px;
    background-color: var(--input);
}